@import "../../../styles";

app-food-list-overview {
    @include component();
    @include page($white);

    .wrapper {
        border: 1px solid $light-grey;
        min-height: 400px;
        padding: 20px;

        .foodlist{
            .fooditem{

            }
        }
    }
}
