<div class="overlay"></div>

<div class="popup-wrapper">
    <i class="fa fa-times"></i>
    <p class="form-title">Een nieuw item toevoegen</p>
    <form>
        <div class="form-group">
            <label for="name">Naam:</label>
            <input type="text" class="form-control" id="name" placeholder="vul hier in" required />
        </div>

        <div class="form-group">
            <label for="location">Locatie:</label>
            <select class="form-control" id="location" required>
                <option [value]="onbekend">onbekend</option>
                <option [value]="frigo">frigo</option>
            </select>
        </div>
        <div class="form-group">
            <label for="amount">Hoeveelheid:</label>
            <input type="number" id="amount" class="form-control" placeholder="0" required min="0" step="1"/>
        </div>
        <button class="button green">Opslaan</button>
    </form>
</div>
