// COLOURS
$white: #ffffff;
$black: #000000;
$very-light-grey: #f8f8f8;
$light-grey: #c0c0c0;
$grey: #808080;
$dark-grey: #676767;

$alert-red: #ff3a2d;
$btn-green: #35b238;

// VARIABLES
$radius: 3px;
$btn-height: 35px;

